<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComicKhanTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ComicKhanUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ExtractorTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>wutComicReader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E40C7A9822A1168C00D7CD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9EA424506E58007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9EB8245071DA007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9EC624507215007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9ED424507275007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9EE7245075F6007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9EFC245077CF007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42B9F2924507A3A007B3803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E475D0AA245751D10005CF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4DA532124507DB800A244FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EBEDCB23DD7C49000B317D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
